/*Nav para título + 2 links*/
.navComum{
    color: var(--branco);
    padding: 1em 3em;
    display: flex;
    align-items: center;
    gap: 1em;
    opacity: 0;
    animation: aparecer 0.3s ease-out forwards;
}
.navComum h1{
    margin: 0;
    font-weight: 400;
    margin-right: auto;
}
.navComum img{
    width: 2em;
    height: 2em;
}
.navComum .linkPrincipal{
    gap: 0.5em;
    border: 2px solid var(--branco);
    padding: 0.5em 2em;
    border-radius: 10px;
    margin-left: 2em;
    transition: 1s;
}
.navComum .linkPrincipal:hover{
    transition: 1s;
    background-color: var(--principalClara);
}
.navComum .linkPrincipal img{
    width: 1.5em;
    height: 1.5em;
}
.navComum a{
    color: var(--branco);
}

@media screen and (max-width: 724px){

    .navComum{
        padding: 1em;
        gap: 0.5em;
    }
    .navComum h1{
        font-size: 1rem;
    }
    .navComum .linkPrincipal{
        width: 1.5em;
        border: none;
        padding: 0;
        margin-left: 1em;
    }
    .navComum .linkPrincipal span{
        display: none;
    }
    .navComum img{
        width: 1.5em;
        height: 1.5em;
    }

}

/*

Exemplo de HTML

<nav class="nav1">
    <img src="assets/icons/logo.png" alt="logo ACM">
    <h1 class="aparecer_08">AllCssMaf</h1>
    <a href="">Git-Hub</a>
    <a href="" class="linkPrincipal centraliza">
        <span>Linkedin</span>
        <img src="assets/icons/linkedin.png" alt="">
    </a>
</nav>

*/