/*Nav com até 5 itens*/
.nav5{
    background-image: var(--gradientePrincipal);
    color: var(--branco);
    flex-flow: row wrap;
}
.nav5 h2{
    font-weight: 100;
    font-size: 0.8rem;
    width: 100%;
    display: flex;
    gap: 0.5em;
    align-items: center;
    padding: 0 2em;
}
.nav5 h2 img{
    width: 1.5em;
}
.nav5 ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}
.nav5 ul a{
    font-size: 0.9em;
    color: var(--branco);
    gap: 1em;
    padding: 1em 0;
    width: 100%;
    position: relative;
}
.nav5 ul a:hover{
    text-decoration: none;
}
.nav5 ul a:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--branco); 
    transform: scaleX(0);      
    transform-origin: center;  
    transition: transform 0.3s ease-out; 
}
.nav5 ul a:hover::after {
  transform: scaleX(1);      
}
.nav5 ul a img{
    width: 1.5em;
}

.nav5 h2, .nav5 a{
    animation: aparecer 0.5s ease-out forwards;
}

@media screen and (max-width: 724px){

    .nav5 ul a span{
        display: none;
    }

}

/*

Exemplo de HTML

<nav class="nav5 centraliza">
    <h2>
        <img src="../assets/icons/formPd.png" alt="icone formulário">
        Página única
    </h2>
    <ul>
        <a href="formularios/pagUnPd.html" class="centraliza">
            <img src="../assets/icons/formularios.png" alt="icone formulário">
            <span>Padrão</span>
        </a>
        <a href="" class="centraliza">
            <img src="../assets/icons/formMetade.png" alt="icone formulário">
            <span>Meio a Meio</span>
        </a>
        <a href="" class="centraliza">
            <img src="../assets/icons/emBreve.png" alt="icone em breve">
            <span>Em Breve...</span>
        </a>
        <a href="" class="centraliza">
            <img src="../assets/icons/emBreve.png" alt="icone em breve">
            <span>Em Breve...</span>
        </a>
        <a href="" class="centraliza">
            <img src="../assets/icons/emBreve.png" alt="icone em breve">
            <span>Em Breve...</span>
        </a>
    </ul>
</nav>

*/