/*Nav na parte superior da tela com menu hamburguer, título e 1 link isolado*/
.navSuperior{
    background-image: var(--gradientePrincipal);
    display: flex;
    align-items: center;
    padding: 0.5em 2em;
    gap: 1em;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}
.navSuperior h1{
    font-size: 1rem;
    color: var(--branco);
    font-weight: 400;
    margin-right: auto;
}
.navSuperior a{
    color: var(--branco);
}
.navSuperior ul{
    padding: 2em 0 0 0;
    position: absolute;
    left: 0;
    top: 2.5em;
    flex-direction: column;
    width: 100%;
    background-color: var(--principalEscura);
}
.navSuperior ul a{
    border-bottom: 1px solid var(--principal);
    width: 100%;
    padding: 1em;
    gap: 1em;
}
.navSuperior ul a img{
    width: 1.5em;
}
.navSuperior h1, .navSuperior label, .navSuperior a{
    animation: aparecer 0.3s ease-out forwards;
}

/*

Exemplo de HTML:

<nav class="navSuperior">

    <input class="abrirMenuOculto" id="redes" type="checkbox">
    <label for="redes" class="btnAbrirMenuOculto">
        <img src="../assets/icons/menu.png" alt="icone menu">
    </label>
    <ul class="menuOculto centraliza">
        <a class="centraliza" href="">
            <img src="../assets/icons/globo.png" alt="icone globo">
            <span>MAF</span>
        </a>
        <a class="centraliza" href="">
            <img src="../assets/icons/instagram.png" alt="icone instagram">
            <span>Instagram</span>
        </a>
        <a class="centraliza" href="">
            <img src="../assets/icons/linkedin2.png" alt="icone linkedin">
            <span>Linkedin</span>
        </a>
        <a class="centraliza" href="">
            <img src="../assets/icons/github.png" alt="icone github">
            <span>Git-Hub</span>
        </a>
    </ul>

    <h1>AllCssMaf</h1>
    <a href="../index.html" class="centraliza">
        <span>Voltar</span>
    </a>
    
</nav>

*/