/*Fontes*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/*Estilos*/
@import url(styles/header.css);
@import url(styles/main.css);
@import url(styles/footer.css);

/*Variáveis*/
:root{

    /*Cores fixas*/
    --branco: #ffffff;
    --preto: #000000;
    --cinza: #808080;

    /*Cor de fundo da página*/
    --corFundo: #f8f8f8;

    /*Cor Principal*/
    --corPrincipal: #0f0f0f;
    --corPrincipalClara: #5f5f5f;
    
    /*Cor Secundária*/
    --corSecundaria: #f8f8f8;

    /*Cores das letras*/
    --txtClaro: #f8f8f8;
    --txtEscuro: #0f0f0f;
    
    /*Fonts*/
    --fontEspecial: "Montserrat", sans-serif;
    --fontTitulos: "Krona One", sans-serif;
    --fontPadrao: "Nunito Sans", sans-serif;

}

/*Regras*/
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    min-height: 100vh;
    background-color: var(--corFundo);
}
h1, h2, h3, h4, h5, h6{
    font-family: var(--fontTitulos);
    font-weight: 500;
}
p, input, select, li{
    font-family: var(--fontPadrao);
}
a, span, button, label{
    font-family: var(--fontEspecial);
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
img{
    object-fit: cover; 
    object-position: center;
}