/*Centralizar elementos-filho*/
.centraliza{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 724px){

    .pagina .voltar{
        font-size: 0.8rem;
    }

}