/*Centralizar elementos-filho*/
.centraliza{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Limita o width da página*/
.limitar{
    padding: 1em;
    width: 50em;
    max-width: 100%;
}

/*Adiciona cor de fundo ao elemento desejado*/
.fundo{
    background-color: var(--corFundo);
}

@media screen and (max-width: 724px){

}