/*Página sem rolamento*/
.pagina{
    height: 100vh;
    width: 100%;
    background-image: url(../../assets/images/fundoPagUn.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

/*Centralizar elementos-filho*/
.centraliza{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Faz um botão aberto/fechado para um menu usando uma checkbox*/
.abrirMenuOculto{
    display: none;
}
.abrirMenuOculto:checked + .btnAbrirMenuOculto + .menuOculto{
    display: flex;
}
.abrirMenuOculto:checked + .btnAbrirMenuOculto{
    filter: brightness(1);
    transition: 0.5s;
}
.btnAbrirMenuOculto{
    filter: brightness(0.7);
    transition: 0.5s;
}
.btnAbrirMenuOculto img{
    width: 1.5em;
}
.menuOculto{
    display: none;
}

@media screen and (max-width: 724px){
    
}