.formCompleto{
    flex-flow: row wrap;
    width: 90%;
    max-width: 35em;
    gap: 1em;
    background-color: var(--principalEscura);
    padding: 2em 1em;
    border-radius: 10px;
}
.formCompleto h2{
    font-size: 2rem;
    gap: 0.5em;
    color: var(--branco);
    font-weight: 300;
    margin: 0;
}
.formCompleto h2 img{
    width: 1em;
}
.formCompleto p{
    font-size: 1rem;
    color: var(--branco);
    gap: 0.5em;
    width: 90%;
    margin: 0.5em 0;
}
.formCompleto img{
    width: 2.5em;
}
.formCompleto button{
    background-color: var(--principal);
    border: none;
    padding: 1em;
    color: var(--branco);
    font-size: 0.8rem;
    border-radius: 5px;
    gap: 1em;
    transition: 1s;
}
.formCompleto button:hover{
    transition: 1s;
    background-color: var(--principalClara);
}
.formCompleto button img{
    width: 1.4em;
}
.formCompleto a{
    color: var(--branco);
}
.formCompleto a, .formCompleto button, .formCompleto p, .formCompleto h2{
    animation: aparecer 1s ease-out forwards;
}

@media screen and (max-width: 724px){

    .formCompleto{
        padding: 1em;
    }
    .formCompleto h2{
        font-size: 1rem;
    }
    .formCompleto p{
        font-size: 0.7rem;
    }
    .formCompleto a{
        font-size: 0.8rem;
    }

}