.formCompleto{
    flex-flow: row wrap;
    width: 90%;
    max-width: 50em;
    gap: 1em;
}
.formCompleto h2{
    font-size: 2.5rem;
    gap: 0.5em;
    color: var(--branco);
    font-weight: 300;
}
.formCompleto h2 img{
    width: 1em;
}
.formCompleto p{
    font-size: 1.5rem;
    color: var(--branco);
    gap: 0.5em;
    width: 90%;
}
.formCompleto img{
    width: 2.5em;
}
.formCompleto input{
    background-color: transparent;
    border: 1px solid var(--branco);
    padding: 0.5em;
    border-radius: 5px;
}
.formCompleto input[type="submit"]{
    background-color: var(--principalClara);
    border: none;
    padding: 1em;
    color: var(--branco);
    font-size: 1rem;
}