/*Footer Padronizado*/
footer{
    padding: 5em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--branco);
    background-image: var(--gradientePrincipal);
}
footer h2{
    border: 2px solid var(--branco);
    width: 12em;
    text-align: center;
    padding: 0.5em;
    border-radius: 10px;
}
footer a{
    color: var(--branco);
    background-image: url(../assets/icons/linkBranco.png);
    background-size: 1em;
    padding: 1em 2.5em;
    background-repeat: no-repeat;
    background-position: 1em;
}

@media screen and (min-width: 724px){

    footer a{  
        filter: brightness(0.7);
        transition: 1s;
    }
    footer a:hover{
        filter: brightness(1);
        transition: 1s;
    }

}