/*Footer Padronizado*/
footer{
    padding: 5em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--branco);
    background-image: var(--gradientePrincipal);
}
footer h2{
    border: 2px solid var(--branco);
    width: 12em;
    text-align: center;
    padding: 0.5em;
    border-radius: 10px;
}
footer a{
    color: var(--branco);
    padding: 1em 2.5em;
    gap: 1em;
}
footer a img{
    width: 1.5em;
}
footer h2, footer a, footer p{
    animation: aparecer 0.3s ease-out forwards;
}