.headerSimples{
    position: relative;
}
.headerSimples h2, .headerSimples p{
    position: absolute;
    text-align: center;
    padding: 1em;
    color: var(--branco);
    text-shadow: 0px 0px 5px var(--preto);
}
.headerSimples h2{
    bottom: 4em;
    width: 100%;
    font-weight: 400;
    animation: aparecer 0.5s ease-out forwards;
}
.headerSimples p{
    bottom: 3em;
    font-size: 1.2rem;
    font-weight: 300;
    width: 100%;
    animation: aparecer 0.7s ease-out forwards;
}
.headerSimples img{
    width: 100%;
    height: 25em;
    filter: brightness(0.7);
}

@media screen and (max-width: 724px){

    .headerSimples h2{
        font-size: 0.9rem;
        bottom: 10em;
    }
    .headerSimples p{
        font-size: 0.8rem;
        bottom: 6em;
    }

}

/*

Exemplo de HTML (headerSimples)

<header class="headerSimples">
    <img src="../assets/images/fundoHeader.png" alt="imagem de fundo">
    <h2>Seja bem vindo(a), procure o container ideal para seu projeto !</h2>
    <p>Utilize o comando: composer require matheus14112003/all-css-maf</p>
</header>

*/