/*Containers*/

/*Coringas CSS*/
@import url(containers/utils.css);

/*Containers de navs*/
@import url(containers/navs/transparente.css);

/*Containers de estruturas*/
@import url(containers/contents/apresentar.css);
@import url(containers/contents/blocos.css);

/*Containers de animações*/
@import url(containers/animations/aparecer.css);
@import url(containers/animations/inputs.css);

/*Containers de formulários*/
@import url(containers/forms/completo.css);

/*Containers de fundos*/
@import url(containers/fundos/estatico.css);

main{
    flex-direction: column;
}