/*Containers*/

/*Coringas CSS*/
@import url(containers/utils.css);

/*Containers de navs*/
@import url(containers/navs/comum.css);
@import url(containers/navs/superior.css);
@import url(containers/navs/nav5.css);

/*Containers de estruturas*/
@import url(containers/contents/apresentar.css);
@import url(containers/contents/categorizar3.css);

/*Containers de animações*/
@import url(containers/animations/aparecer.css);
@import url(containers/animations/input.css);

/*Containers de formulários*/
@import url(containers/forms/completo.css);