.contents-apresentar{
    padding: 5em 1em;
    flex-flow: row wrap;
    gap: 2em;
    color: var(--txtClaro);
    animation: aparecer 1s ease-out forwards;
}
.contents-apresentar .imgPrincipal{
    width: 8em;
}
.contents-apresentar h2{
    font-size: 2rem;
}
.contents-apresentar h2 div{
    font-size: 2.5rem;
}
.contents-apresentar h2, .contents-apresentar p{
    margin: 0;
}
.contents-apresentar p{
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
}
.contents-apresentar ul{
    width: 100%;
    flex-direction: column;
    gap: 2em;
    padding: 0;
}
.contents-apresentar a{
    color: var(--txtClaro);
    text-align: center;
    gap: 0.8em;
    font-size: 0.8rem;
}
.contents-apresentar a img{
    width: 1.5em;
}
.contents-apresentar .linkPrincipal{
    width: 25em;
    border: 1px solid var(--corSecundaria);
    padding: 0.5em;
    border-radius: 20px;
    font-size: 1rem;
    transition: 1s;
}
.contents-apresentar .linkPrincipal:hover{
    background-color: var(--corPrincipalClara);
    transition: 1s;
}

@media screen and (max-width: 724px){

    .contents-apresentar h2{
        font-size: 1rem;
        text-align: center;
    }
    .contents-apresentar h2 div{
        font-size: 1.5rem;
    }
    .contents-apresentar p{
        font-size: 0.8rem;
    }
    .contents-apresentar .linkPrincipal{
        font-size: 0.8rem;
    }

}