/*Classe para título com imagem, descrição e 2 links (1 principal e 1 secundário)*/
.apresentar{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--branco);
    margin: auto 0;
    gap: 1em;
    opacity: 0;
    animation: aparecer 0.7s ease-out forwards;
}
.apresentar h2{
    font-weight: 400;
    gap: 1em;
    font-size: 2rem;
    width: 13em;
    margin-left: 1em;
}
.apresentar h2 text{
    font-size: 2.3rem;
}
.apresentar p{
    font-size: 1.3rem;
}
.apresentar .linkPrincipal{
    border: 2px solid var(--branco);
    padding: 0.5em 2em;
    width: 25em;
    border-radius: 20px;
    margin-bottom: 1em;
    font-size: 1rem;
    transition: 1s;
}
.apresentar .linkPrincipal:hover{
    background-color: var(--principalClara);
    transition: 1s;
}
.apresentar img{
    width: 10em;
}
.apresentar a{
    color: var(--branco);
    gap: 1em;
    font-size: 0.8rem;
}
.apresentar a img{
    width: 1.5em;
}


@media screen and (max-width: 724px){

    .apresentar{
        padding: 1em;
    }
    .apresentar h2{
        font-size: 1rem;
        width: 15em;
    }
    .apresentar h2 text{
        font-size: 1.3rem;
    }
    .apresentar img{
        width: 4em;
    }
    .apresentar p{
        font-size: 1rem;
        margin: 0 0 2em 0;
    }
    .apresentar .linkPrincipal{
        width: 18em;
        margin-bottom: 1em;
    }

}

/*

Exemplo de HTML: 

<div class="apresentar">

    <div class="centraliza">
        <img src="assets/icons/logo.png" alt="logo ACM">
        <h2>
            Descubra seu <br>
            <text>Potencial Digital</text>
        </h2>
    </div>

    <p>Utilize nossas classes a vontade !</p>
    
    <a href="pages/classes.html" class="centraliza linkPrincipal">
        <img src="assets/icons/link.png" alt="icons link">
        <span>Ver Classes</span>
    </a>
    <a href="" class="centraliza">
        <img src="assets/icons/instagram.png" alt="icone instagram">
        Siga nossa página
    </a>

</div>

*/