.contents-blocos{
    padding: 1em;
    gap: 1em;
}
.contents-blocos a{
    animation: aparecer 1s ease-out forwards;
    width: 100%;
    position: relative;
    color: var(--branco);
    font-size: 1rem;
    text-shadow: 0px 0px 5px var(--preto);
} 
.contents-blocos a img{
    width: 100%;
    height: 15em;
    border-radius: 10px;
    transition: 1s;
    filter: brightness(0.6);
    box-shadow: 5px 5px 10px var(--cinza);
}
.contents-blocos a span{
    position: absolute;
    bottom: 2em;
    font-size: 1rem;
    transition: 1s;
}
.contents-blocos .logo{
    position: absolute;
    width: 5em;
    height: 5em;
    box-shadow: none;
    filter: brightness(1);
    transition: 1s;
}
.contents-blocos a:hover img{
    filter: brightness(0.8);
    transition: 1s;
}
.contents-blocos a:hover .logo{
    width: 7em;
    height: 7em;
    transition: 1s;
}
.contents-blocos a:hover span{
    bottom: 1em;
    font-size: 1.2rem;
    transition: 1s;
}

@media screen and (max-width: 724px){

    .contents-blocos a img{
        height: 8em;
    }
    .contents-blocos .logo{
        width: 3em;
        height: 3em;
    }
    .contents-blocos a span{
        font-size: 0.8rem;
        bottom: 1em;
    }

}