.categorizar3{
    width: 100%;
    gap: 1em;
    padding: 2em 0.5em;
}

.categorizar3 a{
    position: relative;
    width: 30%;
    height: 15em;
    box-shadow: 2px 2px 4px var(--cinza);
    background-size: cover;
    border-radius: 10px;
}
.categorizar3 h2{
    color: var(--branco);
    position: absolute;
    bottom: 0.5em;
    font-size: 1rem;
    font-weight: 300;
    text-shadow: 0px 0px 5px var(--preto);
}
.categorizar3 img{
    width: 8em;
}